.containerFooter{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: rgb(70, 131, 133);
    
    align-items: center;
    justify-content: flex-start;
}

.textoFooter{
    text-decoration: none !important;
    color: rgb(255, 255, 255); 
    font: 400 14px 'Open Sans', sans-serif; 
    text-decoration: none;   
    margin-left: 35px;
}