
.containerPage{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;    
}

.containerDashboard{
    display: flex;
    position: relative;    
    flex-direction: column;  
    width: 100%;  
    max-width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
   
}
/* 
.containerDashboard:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */


.header .titlePage span{
    color: #fff;
    padding: 2px 12px;
    background-color: rgb(24, 24, 24);
    border-radius: 4px;
}

.titlePage{
    position: absolute;
    color: rgb(29, 29, 29);
    top: 3%;
    left: 5%;
    font-size: 35px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
}

.depositoTitle{    
    color: rgb(61, 61, 61);
    font-weight: 400; 
    position: absolute; 
    bottom: 10px;
    z-index: 2;
    
}

@media (max-width: 1280px){
    .depositoTitle{
        font-size: 14px;  
    }
}



.wrapper{    
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;  
}

@media (max-width: 1280px){
    .wrapper{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(150px, 3fr));         
    }
}

.footerStyle{
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: rgb(255, 255, 255);  
    padding: 10px;
    bottom: 0;
}

.footerStyle p{
    font-weight: 300;
    font-size: 16px;
    margin-left: 25px;
    color: rgb(71, 71, 71);
}

@media (max-width: 1280px){
    .footerStyle p{
        font-weight: 400;
        font-size: 12px;
        margin-left: 25px;
        color: rgb(71, 71, 71);
    }
}


.statusDeposito{
    position: absolute;
    color: #43cc46;
}

@media (max-width: 1280px){
    .statusDeposito{
        font-size: 18px;
    }
}

.statusDepositoZero{
    position: absolute;
    color: #a5a5a5;
    font-weight: 400;
}

@media (max-width: 1280px){
    .statusDepositoZero{
        font-size: 18px;
    }
}



.containerLegendaStatusFiltros {     
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;      
}

.legendas{
    display: flex;
    flex-direction: row;

}

.filtros{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonsFiltro{   
    display: flex;
    margin: 0 2px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    background-color: rgb(231, 231, 231);
    border-radius: 40px;
    border: none;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
}

.buttonsFiltroSelected{   
    display: flex;
    margin: 0 2px;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 35px;
    background-color: rgb(196, 196, 196);
    color: rgb(65, 65, 65);
    border-radius: 40px;
    border: none;
    margin-top: 10px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 900;
}

.buttonsFiltro:hover{  
    background-color: rgb(199, 199, 199);
    
}

.buttonsFiltro:active{  
    background-color: rgb(172, 172, 172);
    
}

.concluidoColor{
    width: 40px;
    height: 40px;
    background-color: #43cc46;
}

.concluido{
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    background: #FFF;
    border: 1px solid #43cc46;
    border-radius: 4px;
}

.iniciarColor{
    width: 40px;
    height: 40px;
    background-color: #dbdbdb;
}

.iniciar{
    flex-direction: row;
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    background: #FFF;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    margin-left: 10px;
}

.containerLegendaStatus span{
    font-size: 14x;
    font-weight: 400;
    color: rgb(138, 138, 138);
}

.containerProgressBar{
    flex-direction: row;
    margin-top: 20px;
    width: 90%;
    height: 130px;
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    
}


.progressBar {
    background-color: rgb(226, 226, 226);
    border-radius: 100px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
    width: 100%;
    flex-direction: row;
  }
  
  .progressBar div {
    background-color: #43cc46;
    width: 9%;
    /* Adjust with JavaScript */
    height: 20px;
    border-radius: 100px 0px 0 100px ;
  }

  .statusPercent{
      font-size: 50px;
      font-weight: 900;
      color: #43cc46;
      background-color: #fff;
      border-radius: 102px;
      padding: 2px 12px;
      margin-top: 8px;
  }

  .statusText{
      font-size: 28px;
      font-weight: 900;
      color: rgb(46, 46, 46);
  }

  .statusContainer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  
  .statusTitleContainer{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }

  .openModalButton{
    display: flex;
    width: 300px;
    height: 42px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    background: #43cc46;
    border: 1px solid #43cc46;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
  }

  .openModalButton:hover{
    
    background: #2a882c;
  }

  .openModalButton:active{    
    background: #175318;
  }


  .dashboardSize{
      width: 200;
      width: 200px;
  }




    