.containerPage{
    display: flex;
    width: 100%;
    height: 94%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadingContainerPage{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerDashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 80vh;
    
    border-radius: 14px;
}

.title{
    font-weight: 900;
    font-size: 32px;
}



.dashboard{
    background-color: #468385;
    border-radius: 4px;
    color: #fff;
    padding: 0px 8px;
}

.legendas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
    margin: 15px;
}

.greenColor{
    width: 30px;
    height: 30px;
    background-color: #43cc46;
    border-radius: 50%;
}


.greyColor{
    width: 30px;
    height: 30px;
    background-color: #dbdbdb;
    border-radius: 50%;
    margin-left: 15px;
}

.grid {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 14px;
}

.percentConclusion{
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    color: #43cc46;
}


.percentConclusionZero{
    position: absolute;
    font-weight: 400;
    font-size: 18px;
    color: #6d6d6d;
}

.siglaDeposito{
    position: absolute;
    bottom: 5px;
    font-weight: 400;
    font-size: 12px;
    color: #262626;
}

.containerProgressBar{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 90%;
    height: 100%;
    height: 130px;
    border-radius: 4px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    
}

.progressBar {
    background-color: rgb(226, 226, 226);
    border-radius: 100px;
    /* (height of inner div) / 2 + padding */
    padding: 0px;
    width: 100%;
    flex-direction: row;
    margin-top: 10px;
    
  }
  
  .progressBar div {
    background-color: #43cc46;
    width: 100%;    
    height: 14px;
    border-radius: 100px;
  }

  .textProgressBar{
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }

  .statusPercent{
      font-size: 22px;
      font-weight: 900;
      color: #43cc46;
      margin-top: 8px;
      z-index: 2;
  }

  .textoTipoImplantacao{
      position: absolute;
      top: 10px;
      left: 20px;
      font-size: 9px;
      color: #bf2c2c;
      border: 1px solid #bf2c2c;
      border-radius:14px;
      padding: 0px 4px;
  }

  .textoTipoReciclagem{
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 9px;
    color: #009405;
    border: 1px solid #009405;
    border-radius:14px;
    padding: 0px 4px;
}

  