.containerPage{
    display: flex;
    position: relative;
    width: 100%;
    height: 94%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;   
    position: absolute;
    left: 45px;
    top: 15px;    
}

.title{ 
    font-size: 24px;
    color: #468385;
    width: 100%;
}

.titleAndIcon{
    display: flex;
    flex-direction: row;
}

.titleContainer span{
    color: rgb(148, 148, 148);
    font-size: 18px;
    
}

.infoContainer{
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 248, 248);
    border-radius: 14px;
}

.dados{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dados p{   
   margin: 5px;
   font-size: 18px;
   color: rgb(39, 39, 39);

}

.simBadge{
    background-color: rgb(83, 184, 70);
    padding: 2px 10px;
    border-radius: 4px;
    font-weight: 800;
    font-size: 16px;    
    color: #fff;
}

.naoBadge{
    background-color: rgb(187, 52, 52);    
    padding: 2px 6px;
    border-radius: 4px;   
    font-weight: 800;
    font-size: 16px;     
    color: #fff;
}

.siglaAbastecido{
    background-color: rgb(38, 38, 38);
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;   
    font-weight: 800;
    font-size: 16px;   
    margin-left: 4px; 
    
}


.titleDois h2{
    font-size: 35px;
}

.containerFooter{
    display: flex;   
    
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    margin: 4px;
    border-radius: 100px;
    border: none;
    background-color: rgb(70, 131, 133);
    cursor: pointer;
}

.titleModal{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 20px;
    font-size: 30px;
    font-weight: 300;
   
}

.button:hover{    
    background-color: rgb(46, 98, 100);
}


.containerInfo{
    padding: 44px;
    position: relative;
    display: flex;
    flex: 4;    
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.map{
    flex: 5;
    border-radius: 0 14px 14px 0;   
    
}

.imgContainer{
    display: flex;   
    width: 100%; 
    height: 100%;
    flex: 3;
    border-radius: 0 14px 14px 0; 
}
.cardFuncionario{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: 28%;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    margin: 5px;
    overflow: hidden;
    padding: 0px;
    border: 2px solid rgb(51, 51, 51);
}

.titleFuncao{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    padding: 0 8px;
    border-radius: 4px;
}


.funcionarioImg{
    width: 100%;
    height: 60%;
    border-radius: 0px;
}

.dadosFuncionarios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5%;
}

.rowDadosFuncionario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 3px;
}

.securityItemCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 280px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    font-weight: 800;
    color: rgb(68, 68, 68);
    font-size: 18px;
    margin: auto;
}


.securityItemIconContainer{ 
    background-color: #457172;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 20px;
}

.containerFuncionarios{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
}

.depositoDados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 55px;
}

.imgGerente{        
    border-radius: 0 14px 14px 0;
    position: relative;
}


.containerPageForModal{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerPageForModalForSecurity{
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;    
    border-radius: 14px;
    background-color: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gridSecurity{
    display: grid;
    margin: auto;
    width: 80%;
    height: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5em
    
}

.containerModal{
    display: flex;
    position: relative;
    width: 80%;
    height: 80%;
    padding: 30px;
    border-radius: 14px;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerModalForSistemas{
    display: flex;
    position: relative;
    width: 60%;
    height: 60%;
    padding: 30px;
    border-radius: 14px;
    background-color: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerSistemas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sistemaOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 80px;
    color: rgb(43, 43, 43);
    font-weight: 800;
    font-size: 20px;
    margin: 15px;
    border-radius: 4px;
}


.containerModalOrgranograma{
    display: flex;
    position: relative;
    width: 90%;
    height: 100%;
    padding: 30px;
    border-radius: 14px;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.organograma{
    width: 90%;
    height: 90%;
}

.lastUpdate{
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 14px;
    color: rgb(130, 130, 130);
}

.containerModalForFotos{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px;
    border-radius: 14px;
    background-color: #fff;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttonCloseModal{
    padding: 8px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
    border: none;
    border-radius: 4px;
    background-color: rgb(231, 88, 88);
    cursor: pointer;    
}

.buttonCloseModal:hover{
    background-color: rgb(214, 43, 43);
}

.buttonCloseModal:active{
    background-color: rgb(185, 8, 8);
}

.backButton{
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 1px solid rgb(70, 131, 133);
    border-radius: 4px;
    background-color: rgb(70, 131, 133);
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 15px
}

.backButton:hover{
    background-color: rgb(46, 92, 94);
}

