.containerPage{
    display: flex;
    position: relative;
    width: 100%;
    height: 93%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;   
    position: absolute;
    left: 45px;
    top: 15px;    
}

.title{ 
    font-size: 24px;
    color: #468385;
    width: 100%;
}

.titleAndIcon{
    display: flex;
    flex-direction: row;
}

.titleContainer span{
    color: rgb(148, 148, 148);
    font-size: 18px;
    
}

.infoContainer{
    display: flex;
    width: 80%;
    height: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 248, 248);
    border-radius: 14px;
}

.dados{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dados p{   
   margin: 5px;
   font-size: 18px;
   color: rgb(39, 39, 39);

}

.simBadge{
    background-color: rgb(83, 184, 70);
    padding: 2px 10px;
    border-radius: 4px;
    font-weight: 800;
    font-size: 16px;    
    color: #fff;
}

.naoBadge{
    background-color: rgb(187, 52, 52);    
    padding: 2px 6px;
    border-radius: 4px;   
    font-weight: 800;
    font-size: 16px;     
    color: #fff;
}

.siglaAbastecido{
    background-color: rgb(38, 38, 38);
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;   
    font-weight: 800;
    font-size: 16px;   
    margin-left: 4px; 
    
}

.dadosFunc{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dadosFunc p{
    margin: 5px;
}


.titleDois{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.titleDois h2{
    font-size: 35px;
}

.containerFooter{
    display: flex;   
    
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    margin: 4px;
    border-radius: 100px;
    border: none;
    background-color: rgb(70, 131, 133);
    cursor: pointer;
}

.button:hover{    
    background-color: rgb(46, 98, 100);
}


.containerInfo{
    padding: 44px;
    position: relative;
    display: flex;
    flex: 4;    
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.map{
    flex: 5;
    border-radius: 0 14px 14px 0;   
    
}

.cardFuncionario{
    height: 28%;
    margin: 4px;
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    background-color: rgb(243, 243, 243);
    border-radius: 14px;
}

.imgContainer{
    display: flex;   
    width: 100%; 
    height: 100%;
    flex: 3;
    border-radius: 0 14px 14px 0;
    
}

.funcionarioDados{
    display: flex;
    flex-direction: column;
    flex: 7;
    margin-top: 25px;
}

.depositoDados{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 55px;
}

.imgGerente{
        
    border-radius: 0 14px 14px 0;
}

.containerModal{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

:root {
    --st-modal-minWidth: 1400px;
}

.backButton{
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 1px solid rgb(70, 131, 133);
    border-radius: 4px;
    background-color: rgb(70, 131, 133);
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 15px
}

.backButton:hover{
    background-color: rgb(46, 92, 94);
}

