.containerPage{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerDepositos{    
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.grid{
    display: grid;    
    width: 60%;
    height: 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;  
}

.card{
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: rgb(235, 235, 235);
    border-radius: 4px;
    cursor: pointer;
   
}

.textDeposito{
    font-size: 24px;    
    font-weight: 800; 
    color: rgb(70, 131, 133);   
}

.linkDep{
    text-decoration: none !important;
}


.card:hover{    
    border: 3px solid rgb(70, 131, 133);
    
}

.titleContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;   
    position: absolute;
    left: 45px;
    top: 15px
    
}

.title{ 
    font-size: 34px;
    color: #141414;
    width: 100%;
}

.titleAndIcon{
    display: flex;
    flex-direction: row;
}

.titleContainer span{
    color: rgb(148, 148, 148);
    font-size: 18px;
    margin-left: 45px;
}

