

.containerPage{
    display: flex;
    width: 100%;
    height: 93%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #468385, #4d8c8f, #539598, #5a9fa2, #61a8ac, #67aeb2, #6cb5b8, #72bbbe, #78bfc2, #7ec3c6, #84c8cb, #8acccf);
}

.containerLanding{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 80%;
    margin-top: -70px;    
}



.landingInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    width: 35%;
    /* background-color: rgb(241, 241, 241);
    border-radius: 14px; */
    height: 200px;
   
}

.landingInfo h1{
    color:rgb(255, 255, 255);
    font-size: 58px;
}

.landingInfo p{
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
}

.landingInfo span{
    font-weight: 800;
    color: rgb(0, 0, 0);
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.mainPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 93%;
    background-image: linear-gradient(to bottom, #468385, #4d8c8f, #539598, #5a9fa2, #61a8ac, #67aeb2, #6cb5b8, #72bbbe, #78bfc2, #7ec3c6, #84c8cb, #8acccf);
}

.sectionUm{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #8acccf;
}

.sectionDois{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.sectionDois h3{
    width: 70%;
    align-items: flex-start;
    font-size: 28px;
    margin-bottom: 15px;
    color: rgb(71, 131, 133);
}

.sectionTres{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;;
}

.sectionQuatro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.sectionCinco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}


.sectionSeis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-color: #8acccf;
}

.cardObjetivo{
    display: flex;
    position: relative;;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    width: 300px;
    height: 400px;    
    margin: 50px;
    border-radius: 14px;
    word-wrap: break-word;   
}

.cardObjetivo h3{
    color: #fff;
    font-size: 24px;
    font-weight: 800;
}

.cardObjetivo p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

.cardFase{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 20%;
    background-color: #8acccf;
    border-radius: 300px;
    margin: 10px;
    word-wrap: break-word;   
}

.numberFase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
    background-color: #8acccf;
    border-radius: 50%;
    border: 4px solid #8acccf;
}

.numberFase h1{
    font-size: 120px;
    color: #ffffff;
}

.cardFase span{
    font-size: 20px;
    color: #fff;
}

.cardFase p{
    font-size: 30px;
    color: #ffffff;
    margin-top: -30px;
}


.missaoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
}

.missaoText{
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.visaoText{
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.missaoText h1{
    
    font-size: 70px;
    color: rgb(71, 131, 133);
    font-weight: 800;
}

.missaoText p {
    font-size: 16px;
    color: rgb(110, 110, 110);
}

.visaoText h1{
    
    font-size: 70px;
    color: rgb(71, 131, 133);
    font-weight: 800;
}

.visaoText p {
    font-size: 16px;
    color: rgb(110, 110, 110);
}

.visaoContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
}

.grid{
    display: grid; 
    margin: auto;   
    width: 80%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;      
    padding: 40px;
}

.cardValores{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin: auto;
    padding: 30px;
    text-align: justify;    
}


.cardValores h3{
    font-size: 28px;
    font-weight: 300;
    color: rgb(71, 131, 133);
}

.cardValores p{
    font-weight: 300;
    color: rgb(71, 131, 133);
}

.cardValores span{
    position: absolute;
    padding: 6px 14px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    background-color: #8acccf;
    color: #fff;
    font-weight: 800;
    font-size: 30px;

}


.sectionCinco h1{
   
    margin-top: 10px;
    font-size: 70px;
    color: rgb(71, 131, 133);
    font-weight: 800;
    z-index: 2;
}

